* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --rcb-red: #DA1818;
    --rcb-gold: #FFD700;
    --winning-blocks: #FFD700; /* Winning highlight color */
}

body {
    color: var(--rcb-gold);
    font-family: 'Finger Paint', cursive;
    background-color: #1C1C1C;
}

h1 {
    font-size: 54px;
    text-transform: uppercase;
    color: var(--rcb-gold);
}

.container {
    padding: 40px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1C1C1C;
}

#gameboard {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.box {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--rcb-gold);
    font-size: 120px;
    background-color: #DA1818;
    border-right: 2px solid var(--rcb-gold);
    border-bottom: 2px solid var(--rcb-gold);
}

.box:nth-child(3n) {
    border-right: none;
}

.box:nth-child(6) ~ .box {
    border-bottom: none;
} 

button {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--rcb-gold);
    color: #1C1C1C;
    border: none;
    font-size: 18px;
    transition: 200ms transform;
    font-weight: 600;
    margin-top: 20px;
}

button:hover {
    cursor: pointer;
    transform: translateY(-2px);
    background-color: #e6c200;
}
.box:hover {
    box-shadow: 0 0 15px #ff0000; /* RCB Red Glow */
    transition: 0.3s ease-in-out;
}
.box:hover {
    box-shadow: 0 0 15px #da1818; /* RCB Red Glow */
    transition: 0.3s ease-in-out;
}

